{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<title>Michal Falkiewicz - Distance Learing 3</title>
	</head>
	<body>
		<header>
			<form method="post">
				{% csrf_token %}
				{{ form_kp.as_p }}
				<button type="submit">OK</button>
			</form>
		</header>
	</body>
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script type="text/javascript">
		$("#id_kod").change(function ()
		{
			var kodpocztowy = $(this).val();
			console.log(kodpocztowy);

			$.ajax(
			{
				url: '/a/v/',
				data: {'kodpocztowy': kodpocztowy},
				dataType: 'json',
				success: function(data)
				{
					console.log("ps");
					if(data.is_valid == 'falszywy')
					{alert("Niepoprawny format adresu pocztowego.");}
					else
					{alert("ok");}
				},
				error: function()
				{
					console.log("Coś poszło nie tak");
				}
			});
		});
	</script>
</html>