<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<title>Michal Falkiewicz - Distance Learing 3</title>
		<link rel="stylesheet" href="{% static 'main.css' %}"/>
	</head>
	<body>
		<header>
			Strona do weryfikacji poprawności kodu pocztowego
		</header>
		<div>
			Podaj kod pocztowy w formacie "CC-CCC", gdzie "C" jest liczbą.
			<form method="post">
				{% csrf_token %}
				{{ form_kp.as_p }}
				<div id=weryfikacja>
					<br/>
				</div>
				<button type="submit">OK</button>
			</form>
		</div>	
	</body>
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script src="{% static 'ajaxdl3.js' %}"></script>
</html>